* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

div {
    margin-left: 50px;
    margin-top: 50px;

}

h1 {
    text-align: center;
    color: coral;
}

button {
    size: 20px;
}

button:hover{
    background: coral;
}